// Helpers
@import "./helpers/_variables";
@import "../../node_modules/rfs/scss";
@import "../../node_modules/normalize.css/normalize";
@import "./helpers/_mixins";
@import "./helpers/_font";
@import "./helpers/_global";
@import "./UI/title.scss";
@import "./UI/control.scss";
@import "./UI/container.scss";
@import "../../node_modules/swiper/swiper.scss"; // Critical style
@import "./blocks/header";

@import "./blocks/promo";
@import "./blocks/location";
@import "./blocks/about";
@import "./blocks/near";

@import "./blocks/footer";

@import "./blocks/dubrovka";

@import "./blocks/circle";
@import "./blocks/yard";
@import "./blocks/aesthetics";
@import "./blocks/choose";
@import "./blocks/developer";