- const aesthetics_tabs = [{label:'входная группа', href:"exit"},{label:'предчистовая отделка', href:"prefinishing"},{label:'чистовая отделка', href:"finishing",info:'всплывающая табличка'}]



- const aesthetics_list =['Натяжной потолок с установкой светильника или люстры','Шпаклевка и штукатурка стен','Установка обоев под покраску','Установка плитки в прихожей и санузле','Установка ламината в остальных помещениях','Установка сантехники под ключ','Установка межкомнатных дверей']
