- const aesthetics_tabs = [{label:['ваша','квартира'], href:"flat"},{label:['предчистовая','отделка'], href:"prefinishing",info:'базовая fgdfgdf комплектация'},{label:['чистовая','отделка'], href:"finishing"},{label:['входная','группа'], href:"exit"}]



- const aesthetics_list =['Натяжной потолок с установкой светильника или люстры 123 32 321','Шпаклевка и штукатурка стен','Установка обоев под покраску']
