- const aesthetics_tabs = [{label:'входная группа', href:"exit"},{label:'предчистовая отделка', href:"prefinishing",info:'базовая fgdfgdf комплектация'},{label:'чистовая отделка', href:"finishing"}]



- const aesthetics_list =['Натяжной потолок с установкой светильника или люстры','Шпаклевка и штукатурка стен','Установка обоев под покраску']
