//- - const dubrovka_tabs = [{label:'берег Невы', href:"shore"},{label:'инфраструктура поселка', href:"infrastructure"},{label:'природные объекты и парки', href:"parks"},{label:'яхт-клуб', href:"club"}]
- const dubrovka_tabs = [{label:'берег Невы', href:"shore"}]


- const dubrovka_text = 'Берег реки, с его широкими водными просторами и бережно ухоженными пляжами, является одним из самых живописных и вдохновляющих мест в окрестностях поселка Дубровка.'
