- const dubrovka_tabs = [{label:'берег Невы', href:"shore"},{mobile:true,label:`инфраструктура поселка`,labelPhone:'инфраструктура', href:"infrastructure"},{mobile:true,label:'природные объекты и парки',labelPhone:'природа', href:"parks"},{label:'яхт-клуб', href:"club"}]




- const dubrovka_text = 'Берег реки, с его широкими водными просторами и бережно ухоженными пляжами, является одним из самых живописных и вдохновляющих мест в окрестностях поселка Дубровка.'
