- const soc = [{name:'vk',href:'vk.me/agvento'},{name:'tg',href:'https://t.me/agvento-test'},{name:'wa',href:'https://wa.me/4957777777'}]


- const footer_middle = [{anchor:true,title:'О проекте',href:'#about'},{anchor:true,title:'Расположение',href:'#near'},{anchor:true,title:'Экстерьер',href:'#yard'},{anchor:true,title:'Интерьер',href:'#aesthetics'},{title:'Контакты',href:'/contacts.html'}]
