- const soc = [{name:'vk',href:'viber://chat?number=%2B4957777777'},{name:'tg',href:'https://t.me/agvento-test'},{name:'wa',href:'https://wa.me/4957777777'}]


- const footer_middle = [{title:'О проекте',href:'about'},{title:'Расположение',href:'location'},{title:'Архитектура',href:''},{title:'Веб-камера',href:''},{title:'Контакты',href:''},{title:'Документы',href:''},]
