- const header_nav = [{anchor:"location",href:"#location",label:"Расположение"},{anchor:false,href:"#",label:"АРХИТЕКТУРА"},{anchor:'dubrovka',href:"#dubrovka",label:"БЛАГОУСТРОЙСТВО"},{anchor:"about",href:"#about",label:"О ПРОЕКТЕ"},{anchor:false,href:"",label:"ЗАСТРОЙЩИК"},{anchor:'',href:"/contacts.html",label:"КОНТАКТЫ",target:true}]


-const header_point = [{anchor:false,href:"#",label:"Камера"},{anchor:false,href:"#",label:"Условия покупки"},{anchor:false,href:"",label:"Акции"},{anchor:false,href:"#about",label:"Новости"},{anchor:false,href:"",label:"Динамика строительства"}]
