- const header_nav = [{anchor:'dubrovka',href:"#dubrovka",label:"О ДУБРОВКЕ"},{anchor:"near",href:"#near",label:"Расположение"},{anchor:"about",href:"#about",label:"О ПРОЕКТЕ"},{anchor:'yard',href:"#yard",label:"экстерьер "},{anchor:'aesthetics',href:"#aesthetics",label:"Интерьер"},{anchor:'developer',href:"#developer",label:"ЗАСТРОЙЩИК"},{anchor:true,href:"/contacts.html",label:"КОНТАКТЫ",target:true},{accordion:true,label:"информация"}]


-const header_point = [{anchor:false,href:"#",label:"Динамика строительства"},{anchor:false,href:"#",label:"Условия покупки"}]
