- const locationlist = ["Детский сад","Амбулатория",`ЖК “Невская история"`,`Станция “Невская\u00A0Дубровка”`,"Школа",`Невский парк`,`Парк Надежды`,`ТК “Рома”`,`ЖК “Дом на\u00A0набережной”`,`Почта России`,`Отделение CберБанка`]
