- const locationlist = [{title:"Детский сад"},{title:"Амбулатория"},{title:`ЖК “Невская история"`,color:true},{title:`Станция “Невская\u00A0Дубровка”`},{title:"Школа"},{title:`Невский парк`},{title:`Парк Надежды`},{title:`ТК “Рома”`},{title:`ЖК “Дом на\u00A0набережной”`,color:true},{title:`Почта России`},{title:`Отделение CберБанка`}]
