- const near = [{time:1,text:['ДО ПЛЯЖА']},{time:1,text:['ДО парка']},{time:20,text:['ДО ГОРОДА','САНКТ-ПЕТЕРБУРГ','НА АВТО']},{time:35,text:['ДО ГОРОДА','САНКТ-ПЕТЕРБУРГ','НА АВТОбусе']},{last:true,time:90,text:['ДО ГОРОДА','САНКТ-ПЕТЕРБУРГ','НА ЭЛЕКТРИЧКЕ (Финлянский вокзал)']}]
