.about {
  background-color: #78899f;
  padding-top: 5rem;
  padding-bottom: 3.75rem;
  position: relative;
  margin-top: -13.2rem;
  overflow: hidden;

  @include mw($tb) {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 0;
  }

  &__inner {
    @include mw($tb) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 2rem;
    }

    @include mw($ph) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 10.875rem;
    position: relative;
    z-index: 1;
    display: flex;

    .whitespace {
      width: 1rem;
    }

    .word {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;

      .char:nth-child(2) {
        margin-left: 1.5rem;
      }
    }

    @include mw($tb) {
      text-align: center;
      font-size: 2.4rem;
      margin-bottom: 4rem;
      line-height: 1;
    }
  }

  &__subtitle {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.25rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    max-width: 55%;
    margin-bottom: 3.3rem;

    @include mw($tb) {
      max-width: none;
      font-size: 1.5rem;
      line-height: 1.2;
      position: relative;
      z-index: 1;
      margin-bottom: 2rem;
    }
  }

  &__text {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin-bottom: 4.1rem;
    max-width: 50%;

    @include mw($tb) {
      max-width: none;
      font-size: 1rem;
      line-height: 1.63;
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.5rem;
    margin-bottom: 6rem;
    max-width: 51%;

    @include mw($tb) {
      max-width: none;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mw($tb) {
      width: calc(100% / 3);
    }

    svg {
      width: 5rem;
      height: 5rem;
      margin-bottom: 0.6rem;

      @include mw($tb) {
        width: 4rem;
        height: 4rem;
      }
    }

    &:nth-child(-n + 3) {
      svg {
        fill: #fff;
      }
    }

    &:nth-child(n + 4) {
      svg {
        fill: transparent;
        stroke: #fff;
      }
    }

    span {
      color: rgb(255, 255, 255);
      font-size: 1.13rem;
      font-weight: 300;
      line-height: 1.75rem;
      letter-spacing: 0%;
      text-align: center;

      @include mw($tb) {
        font-size: 0.81rem;
        line-height: 1rem;
      }
    }
  }

  &__link {
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    border: 0.06rem solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0.15rem;
    text-transform: lowercase;
    display: inline-block;
    min-width: 22rem;
    text-align: center;

    @include mw($tb) {
      display: block;
      min-width: auto;
      font-size: 0.94rem;
      line-height: 1;
    }

    @include hocus() {
    }

    &:active {
    }
  }

  .container {
  }
  .title {
  }
  .title--lg {
  }
  .title--light {
  }
  .picture {
    position: absolute;
    width: 37%;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 1920px) {
      width: 43%;
    }

    @include mw($tb) {
      position: static;
      width: 100%;
    }

    &__wrap {
      width: 100%;
      height: 0;
      padding-top: 110%;
      position: relative;
    }

    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: auto 100%;
      object-position: right bottom;
    }
  }
  .figure {
  }
}
