.about {
  background-color: #78899f;
  padding-top: 5rem;
  padding-bottom: 3.75rem;
  position: relative;
  margin-top: -26.2rem;
  overflow: hidden;
  margin-bottom: 6.2rem;

  @include mw($tb) {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 0;
    margin-top: -18.2rem;
    margin-bottom: 0;
  }

  &__inner {
    @include mw($tb) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 2rem;
      position: relative;
      z-index: 1;
    }

    @include mw($ph) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 18rem;
    position: relative;
    z-index: 1;
    display: flex;

    .whitespace {
      width: 1rem;
    }

    .word {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;

      .char:nth-child(2) {
        margin-left: 1.5rem;
      }
    }

    @include mw($tb) {
      text-align: center;
      font-size: 2.4rem;
      margin-bottom: 4.5rem;
      line-height: 1;
      padding: 0 1rem;
    }
  }

  &__subtitle {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.25rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    max-width: 55%;
    margin-bottom: 3.3rem;

    @include mw($tb) {
      max-width: none;
      font-size: 1.7rem;
      line-height: 1.5;
      position: relative;
      z-index: 1;
      margin-bottom: 1.2rem;
      padding-left: 0.5rem;
      letter-spacing: 0.2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @include mw($ph) {
      width: 92%;
    }
  }

  &__text {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin-bottom: 4.1rem;
    max-width: 50%;
    // padding: 0 1.5rem;
    padding-right: 1.5rem;
    padding-left: 0;

    @include mw($tb) {
      max-width: none;
      font-size: 1.15rem;
      line-height: 1.9;
      margin-bottom: 2.9rem;
      padding-left: 1.5rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.5rem;
    margin-bottom: 5rem;
    max-width: 39%;
    transform: translate(-6%);

    @include mw($ldt) {
      transform: none;
    }

    @include mw($dt) {
      max-width: 51%;
    }

    @include mw($tb) {
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 4.5rem;
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.6rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    @include mw($tb) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mw($tb) {
      width: calc(100% / 3);
    }

    svg {
      width: 5rem;
      height: 5rem;
      margin-bottom: 0.6rem;

      @include mw($tb) {
        width: 4rem;
        height: 4rem;
      }
    }

    &:nth-child(2) {
      svg {
        @include mw($tb) {
          width: 4.1rem;
        }
      }
    }

    &:nth-child(5) {
      svg {
        @include mw($tb) {
          width: 4.07rem;
        }
        // fill: transparent;
        // stroke: #fff;
      }
    }

    span {
      color: rgb(255, 255, 255);
      font-size: 1.13rem;
      font-weight: 300;
      line-height: 1.75rem;
      letter-spacing: 0%;
      text-align: center;

      @include mw($tb) {
        font-size: 0.81rem;
        line-height: 1rem;
      }
    }
  }

  &__link {
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    border: 0.06rem solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0.15rem;
    text-transform: lowercase;
    display: inline-block;
    min-width: 22rem;
    text-align: center;

    @include mw($tb) {
      display: block;
      min-width: auto;
      font-size: 1.1rem;
      line-height: 1;
      width: 76%;
      padding: 1.05rem 1rem;
      margin: 0 auto;
    }

    @include hocus() {
    }
  }

  .picture {
    position: absolute;
    width: 47.5%;
    right: 0;
    bottom: 0;
    z-index: 1;

    @include mw($tb) {
      position: static;
      width: 100%;
    }

    &__wrap {
      width: 100%;
      height: 0;
      padding-top: 108%;
      position: relative;

      @include mw($tb) {
        padding-top: 141%;
      }
    }

    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: contain;
      object-position: right bottom;
      transform-origin: right bottom;
    }
  }
}
