.aesthetics {
  padding-top: 10rem;
  position: relative;

  @include mw($tb) {
    padding-top: 6rem;
    padding-left: 1.5rem;
  }

  &__inner {
    margin: 0 auto;
    width: 64%;

    @media screen and (max-width: 1920px) {
      width: 77rem;
      max-width: 100%;
    }

    @include mw($dt) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include mw($tb) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-bottom: 4.5rem;
    color: transparent;
    background-image: linear-gradient(
      0deg,
      #a7a7ab 0,
      #a7a7ab 50%,
      transparent 0
    );
    background-clip: text;
    background-size: 100% 200%;
    background-position-x: 0%;
    background-position-y: 100%;

    @include mw($dt) {
      font-size: 2.2rem;
      line-height: 1.1;
    }

    @include mw($tb) {
      padding-right: 1.5rem;
      margin-bottom: 3.5rem;
      display: flex;
      flex-direction: column;
    }

    &__right {
      margin-left: 1rem;

      @include mw($tb) {
        margin-left: 0;
        align-self: flex-end;
      }
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;
  }
}

.aesthetics-tab {
  overflow: hidden;
  &__wrapper {
    width: 130%;
  }

  &__swiper {
    width: 100%;
    opacity: 1;
    z-index: 1;

    &.hidden {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    @include mw($tb) {
    }
  }

  &__slide {
    width: 27%;
    height: 51rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--cover {
      .aesthetics-tab__figure {
        &::after {
          opacity: 1;

          @include mw($tb) {
            opacity: 0;
            content: none;
          }
        }
      }
    }

    @include mw($ldt) {
      height: 38rem;
    }

    @include mw($dt) {
      height: 32rem;
    }

    @include mw($tb) {
      width: 89% !important;
      height: auto;
    }

    &.swiper-slide-active {
      width: 42.5%;
    }
  }

  &__figure {
    width: 100%;
    padding-top: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(#fff, 0.5);
      transition: 0.3s;
      opacity: 0;
    }

    @include mw($tb) {
      padding-top: 168%;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
  }

  &__list {
    width: 100%;
    margin-bottom: auto;
    box-sizing: border-box;
    padding: 1rem 2rem;

    @include mw($tb) {
      position: absolute;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      bottom: 0;
    }
  }

  &__item {
    color: rgb(0, 0, 0);
    font-size: 1.13rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: left;
    display: flex;

    @include mw($tb) {
      color: #fff;
      font-size: 0.88rem;
      line-height: 1.13rem;
    }

    &::before {
      content: "";
      width: 0.3rem;
      height: 0.3rem;
      background-color: #000;
      border-radius: 50%;
      display: block;
      flex-shrink: 0;
      margin-right: 0.6rem;
      margin-top: 0.6rem;

      @include mw($tb) {
        content: none;
      }
    }
  }

  &__scrollbar {
    @include mw($tb) {
      margin-top: 1rem;

      .swiper-scrollbar-drag {
        height: 0.19rem;
        background-color: #88d68b;
        border-radius: 0.19rem;
      }
    }
  }

  &__cover {
    display: none;

    @include mw($tb) {
      display: flex;
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      &::after {
        content: "";
        position: absolute;
        height: calc(100% - 1rem - 0.19rem);
        right: 0;
        top: 0;
        width: calc(11% - 5px);
        background-color: rgba(#fff, 0.68);
        z-index: 1;
      }
    }
  }
}
.aesthetics-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  column-gap: 6rem;
  row-gap: 1rem;

  @include mw($tb) {
    padding-right: 2rem;
    box-sizing: border-box;
    column-gap: 0;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
  }

  &__item {
    @include mw($tb) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 47%;

      &--width {
        width: auto;
      }
    }
  }

  &__link {
    flex-grow: 1;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 1.25rem;
    border: 0.06rem solid transparent;
    transition: 0.3s;
    display: block;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    display: block;

    @include mw($tb) {
      font-size: 0.88rem;
      line-height: 1;
      padding: 0.63rem 1.25rem;
      text-align: center;
    }

    &.selected {
      border-color: #000;
    }
  }

  &__info {
    position: absolute;
    left: calc(100% - 1.5rem);
    top: 0.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem;
    // min-width: 13rem;
    transition: 0.3s;
    cursor: auto;
    pointer-events: none;

    @include mw($tb) {
      display: none;
      flex-direction: row-reverse;
      left: auto;
      right: 0.1rem;
    }

    &--active {
      background-color: #d9d9d9;
    }

    @include mw($tb) {
      gap: 0.2rem;
    }
  }

  &__mark {
    width: 1.06rem;
    height: 1.06rem;
    border-radius: 50%;
    border: 0.06rem solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 0.88rem;
    font-weight: 300;
    line-height: 0.88rem;
    flex-shrink: 0;
    pointer-events: all;
  }

  &__text {
    // position: absolute;
    font-size: 0.88rem;
    font-weight: 300;
    line-height: 1.25rem;
    pointer-events: none;
    overflow: hidden;
    // width: fit-content;
    white-space: nowrap;
    text-align: left;
    // display: none;

    // visibility: hidden;
    // opacity: 0;
    @include mw($tb) {
      font-size: 0.88rem;
      text-align: right;
    }

    &--visible {
      // visibility: visible;
      // opacity: 1;
      // display: block;
    }
  }
}

.aesthetics_tab__wrapper {
  width: 130%;
}

.aesthetics-touch {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1;

  @include mw($tb) {
    pointer-events: none;
  }

  &__block {
    width: 50%;
    position: relative;
  }

  &__btn {
    position: absolute;
    width: 190px;
    height: 190px;
    pointer-events: none;

    @include mw($tb) {
      display: none;
    }

    svg {
      opacity: 0;
      transition: 0;
    }

    &--active {
      &::before {
        opacity: 1;
        transform: scale(1);
      }

      svg {
        opacity: 1;
      }
    }
  }
}

.hidden {
  & + .aesthetics-touch {
    pointer-events: none;
  }
}
