.choose {
  padding-top: 5rem;
  // overflow: hidden;

  @include mw($dt) {
    display: none;
  }

  &__inner {
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;

    @media screen and (max-width: 1920px) {
      width: 78rem;
      max-width: 100%;
    }

    span:last-child {
      align-self: flex-end;
    }
  }

  &__content {
    display: flex;
    position: relative;
    min-height: 60rem;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("/img/choose.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(#000, 0.4);
    }
  }

  &__left {
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &__block {
  }

  &__right {
    width: 50%;
    position: relative;
    background-color: #78899f;
    display: block;
  }

  &__figure {
    // width: 100%;
    // height: 0;
    // padding-top: 100%;
  }

  &__control {
    &--active {
      z-index: 1;
    }
  }
}

.choose-block {
  position: absolute;
  @include centered("y");
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;

  &__link {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.4rem;

    svg {
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke: #fff;
    }
  }

  &__title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.25rem;
    text-transform: uppercase;
  }

  &__text {
    /* TKO 1 */
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
  }
}
.choose-block--left {
  right: 18%;
}
.choose-right {
}
.choose-block--right {
  left: 9%;
}

.choose__circle {
  position: absolute;
  width: 190px;
  height: 190px;
  pointer-events: none;

  @include mw($tb) {
    display: none;
  }

  svg {
    opacity: 0;
    transition: 0;
  }

  &--active {
    &::before {
      opacity: 1;
      transform: scale(1);
    }

    svg {
      opacity: 1;
    }
  }
}
