.choose {
  padding-top: 5rem;
  overflow: hidden;
  // padding-bottom: 6rem;
  padding-bottom: 3rem;

  @include mw($tb) {
    display: none;
  }

  &__inner {
    // margin-bottom: 15rem;

    // margin-bottom: 10rem;
    margin-bottom: 6rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1920px) {
      width: 80%;
    }

    @include mw($ldt) {
      width: 100%;
    }

    .words {
      display: flex;
    }

    .word {
      display: flex;
      justify-content: space-between;
    }

    .words:first-child {
      .word {
        span:first-child {
          margin-right: 1.5rem;
        }
      }
    }

    .words:last-child {
      justify-content: flex-end;
      .word {
        span:nth-child(2) {
          margin-right: 1.5rem;
        }
      }
    }

    // @media screen and (max-width: 1920px) {
    //   width: 78rem;
    //   max-width: 100%;
    // }

    // span:last-child {
    //   align-self: flex-end;
    // }
  }

  &__content {
    display: flex;
    position: relative;
    // min-height: 60.6rem;
  }

  &__bg {
    width: 100%;
    height: 0;
    padding-top: 50%;

    background-image: url("/img/choose.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(#000, 0.4);
    }
  }

  &__control {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
  }

  &__left {
    left: 0;

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    // padding-right: 3rem;
    justify-content: center;
    height: 100%;
  }

  &__block {
  }

  &__right {
    right: 0;

    background-color: #78899f;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__figure {
    // width: 100%;
    // height: 0;
    // padding-top: 100%;
  }

  &__control {
    &--active {
      z-index: 1;
    }
  }
}

.choose-block {
  // position: absolute;
  // @include centered("y");
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  position: relative;

  &__link {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.4rem;

    svg {
      width: 100%;
      height: 100%;
      fill: transparent;
      stroke: #fff;
    }
  }

  &__title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.25rem;
    text-transform: uppercase;
  }

  &__text {
    /* TKO 1 */
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
  }
}
.choose-block--left {
}
.choose-right {
}
.choose-block--right {
}

.choose__circle {
  position: absolute;
  pointer-events: none;

  @include mw($tb) {
    display: none;
  }

  svg {
    opacity: 0;
    transition: 0;
  }

  &--active {
    &::before {
      opacity: 1;
      transform: scale(1);
    }

    svg {
      opacity: 1;
    }
  }
}
