.circle {
  padding-top: 3rem;
  margin-bottom: 2rem;

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    line-height: 1;
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.4rem;
    margin-bottom: 10.7rem;
    color: transparent;

    span {
      color: transparent;
      background-image: linear-gradient(
        0deg,
        #a7a7ab 0,
        #a7a7ab 50%,
        transparent 0
      );
      background-clip: text;
      background-size: 100% 200%;
      background-position-x: 0%;
      background-position-y: 100%;
    }

    @include mw($ldt) {
      width: 100%;
      padding: 0 2rem;
    }

    @include mw($dt) {
      font-size: 3rem;
      padding: 0 1rem;
    }

    @include mw($tb) {
      font-size: 2rem;
    }

    @include mw($ph) {
      font-size: 1.25rem;
      letter-spacing: 0.2rem;
    }

    span:last-child {
      align-self: flex-end;
    }
  }

  &__wrap {
    width: 100%;
    position: relative;
  }

  &__slider {
    width: 100%;
    // // padding: 6rem 0;

    // @include mw($tb) {
    //   // padding: 0;
    // }
  }

  &__slide {
    width: 85.5%;

    @include mw($tb) {
      width: 79%;
    }
  }

  &__figure {
    width: 100%;
    padding-top: 59%;
    position: relative;

    @include mw($tb) {
      padding-top: 154%;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__control {
    position: absolute;
    width: 80%;
    @include centered();
    display: flex;
    justify-content: space-between;
    z-index: 1;

    @include mw($tb) {
      // display: none;
    }
  }

  &__btn {
    width: 13%;

    @include mw($dt) {
      width: 13%;
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }

    @include mw($tb) {
      width: 19%;
    }
  }
}

.circle-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  @include centered("y");
  display: flex;
  z-index: 1;

  @include mw($tb) {
    pointer-events: none;
  }

  &__block {
    &--center {
      width: 85%;

      @include mw($tb) {
        width: 78%;
      }
    }

    &--sm {
      flex-grow: 1;
      background-color: rgba(#fff, 0.68);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        width: 5px;
        background-color: #ececec;
      }

      &--left {
        &::after {
          right: 0;
        }
      }

      &--right {
        left: 0;
      }
    }
  }
}

.circle-control {
  display: flex;
  &__block {
    width: 50%;
    position: relative;
  }

  &__btn {
    position: absolute;
    width: 190px;
    height: 190px;
    pointer-events: none;

    @include mw($tb) {
      display: none;
    }

    svg {
      opacity: 0;
      transition: 0;
    }

    &--active {
      &::before {
        opacity: 1;
        transform: scale(1);
      }

      svg {
        opacity: 1;
      }
    }
  }
}

.circle-slider__scrollbar {
  @include mw($tb) {
    margin-top: 1rem;

    .swiper-scrollbar-drag {
      height: 0.19rem;
      background-color: #88d68b;
      border-radius: 0.19rem;
    }
  }
}
