.developer {
  padding-top: 8.5rem;
  border-bottom: 0.06rem solid rgb(167, 167, 171);

  &__inner {
    display: flex;
    padding-left: 2rem;
    width: 84%;

    @include mw($tb) {
      flex-direction: column;
      padding-left: 0;
    }
  }

  &__info {
  }

  &__right {
    width: 59.5%;
    flex-shrink: 0;
    padding-top: 3rem;

    @include mw($tb) {
      width: 100%;
      padding-top: 1.5rem;
    }
  }

  &__title {
    color: rgb(167, 167, 171);
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-bottom: 14rem;

    @include mw($tb) {
      font-size: 1.3rem;
      letter-spacing: 0rem;
      margin-bottom: 0;
    }

    &--dt {
      @include mw($tb) {
        display: none;
      }
    }

    &--tb {
      display: none;

      @include mw($tb) {
        display: block;
      }
    }

    @include mw($dt) {
      font-size: 2.5rem;
    }
  }

  &__wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__figure-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    background-color: #ececec;
    z-index: 1;
    pointer-events: 0;
  }

  &__figure {
    width: 100%;
    height: 0;
    padding-top: 103%;
    position: relative;

    @include mw($tb) {
      padding-top: 120%;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}
.container-lt {
}
.developer-info {
  padding-right: 2rem;

  @include mw($tb) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__head {
    margin-bottom: 11.5rem;
    @include mw($tb) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.3rem;
    }
  }

  &__logo {
    display: block;
    width: 7.44rem;
    height: 9.68rem;

    @include mw($tb) {
      width: 4.5rem;
      height: 5.54rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__block {
  }

  &__list {
  }

  &__project {
  }
}
.info-block {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 7.5rem;

  @include mw($tb) {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 600;
    @include mw($tb) {
      width: 80%;
      display: block;
    }
  }

  &__text {
    font-weight: 300;
  }
}
.info-list {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 11rem;

  @include mw($tb) {
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 600;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1;
    }
  }

  &__item {
    font-weight: 300;
    margin: 0.2rem 0;
    display: flex;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.5;
    }

    @include mw($tb) {
      margin: 0.7rem 0;
    }

    &::before {
      content: "";
      width: 1.69rem;
      height: 0.25rem;
      background-color: #88d68b;
      display: block;
      margin-right: 0.3rem;
      margin-top: 1rem;
      flex-shrink: 0;
      border-radius: 0.25rem;

      @include mw($tb) {
        width: 0.94rem;
        height: 0.13rem;
        margin-top: 0.75rem;
      }
    }
  }
}
.developer-project {
  &__link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    justify-content: flex-end;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.6;
    }

    & + a {
      margin-top: 2rem;
    }

    svg {
      width: 2.34rem;
      height: 2.99rem;
      margin-right: 2rem;
      fill: none;
      stroke: #000;
      flex-shrink: 0;

      @include mw($tb) {
        width: 1.71rem;
        height: 2.18rem;
      }
    }
  }

  &__declaration {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-decoration-line: underline;
    margin-bottom: 3rem;
    display: inline-block;

    @include mw($tb) {
      font-size: 1rem;
    }
  }
}
