.dubrovka {
  margin-bottom: 8.5rem;

  @include mw($tb) {
    padding-left: 0;
    margin-bottom: 3.5rem;
  }

  &__inner {
    padding-top: 4rem;

    @include mw($tb) {
      padding-top: 2.5rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 4.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;

    span:last-child {
      align-self: flex-end;

      @include mw($tb) {
        align-self: flex-end;
      }
    }

    @include mw($tb) {
      font-size: 2.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 1;
      gap: 0;
      margin-bottom: 4rem;

      span:first-child {
        align-self: center;
      }
    }
  }

  &__content {
  }
}
.title {
}
.title--lg {
}
.title--gray {
}
.tabs {
  padding-left: 1rem;

  @include mw($tb) {
    padding-left: 0;
  }

  &__head {
  }

  &__block {
  }
}
.tabs-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8.5rem;
  margin-right: 1rem;
  column-gap: 2rem;
  row-gap: 1rem;

  @include mw($tb) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0;
    margin-bottom: 1.3rem;
  }

  &__item {
    & + li {
      // margin-left: 6.5rem;
    }
  }

  &__link {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 1.25rem;
    border: 0.06rem solid transparent;
    transition: 0.3s;

    @include mw($tb) {
      font-size: 0.88rem;
      padding: 0.5rem;
      line-height: 1;
    }

    &[aria-selected="true"] {
      border-color: #000;
    }
  }
}
.tabs-block {
  display: flex;

  @include mw($tb) {
    flex-direction: column;
  }

  &__info {
    width: 28.7%;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include mw($tb) {
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  &__text {
    /* TKO 1 */
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin-bottom: 2rem;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.63rem;
      margin-bottom: 2.5rem;
    }
  }

  &__control {
    margin-top: auto;
    display: flex;
    column-gap: 1rem;

    @include mw($tb) {
      padding: 0 1rem;
      justify-content: space-between;
    }

    &--dt {
      @include mw($tb) {
        display: none;
      }
    }

    &--tb {
      display: none;

      @include mw($tb) {
        display: flex;
        position: absolute;
        width: 100%;
        @include centered("y");
        z-index: 1;
      }
    }
  }

  &__btn {
    flex-grow: 1;
  }

  &__btn--prev {
  }

  &__btn--next {
  }

  &__slider {
    flex-grow: 1;

    @include mw($tb) {
      width: 100%;
    }
  }
}
.control {
}
.control--prev {
}
.control--next {
}
.tabs-slider {
  &__list {
  }

  &__item {
  }
}
.swiper {
}
.js-tabs-slider {
}
.swiper-wrapper {
}
.dubrovka-slide {
  display: flex;
  flex-direction: column;
  width: 35.4%;
  position: relative;
  height: 46.6rem;

  @include mw($tb) {
    height: 28rem;
    width: 100%;
  }

  &.swiper-slide-active {
    // width: 43.4%;

    @include mw($tb) {
      width: 100%;
    }

    .dubrovka-slide__figure {
      // height: 100%;
    }

    .dubrovka-slide__text {
      visibility: visible;
      opacity: 1;
    }
  }

  &__figure {
    width: 100%;
    height: 64%;
    position: absolute;
    left: 0;
    top: 0;

    @include mw($tb) {
      height: 100%;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    position: absolute;
    left: 100%;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 1.13rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: 2.6rem;
    box-sizing: border-box;
    width: 70%;
    opacity: 0;
    visibility: hidden;

    @include mw($tb) {
      font-size: 0.88rem;
      line-height: 1.13;
      left: 0;
      width: 100%;
      color: #fff;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
    }
  }
}
