.dubrovka {
  // margin-bottom: 18.5rem;

  margin-bottom: 11rem;

  @include mw($tb) {
    padding-left: 0;
    margin-bottom: 7rem;
  }

  &__inner {
    padding-top: 4rem;

    @include mw($tb) {
      padding-top: 2.5rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    // margin-bottom: 15.6rem;
    margin-bottom: 9.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 68%;

    &--phone {
      display: none;

      @include mw($tb) {
        display: flex;

        span:last-child {
          align-self: flex-end;
        }
      }
    }

    &--desk {
      @include mw($tb) {
        display: none;
      }
    }

    @media screen and (max-width: 1920px) {
      width: 90%;
    }

    @include mw($ldt) {
      width: 100%;
    }

    .words {
      display: flex;
    }

    .word {
      display: flex;
      justify-content: space-between;
    }

    .words:first-child {
      .word {
        span:first-child {
          margin-right: 1.5rem;
        }
      }
    }

    .words:last-child {
      justify-content: flex-end;
      .word {
        span:nth-child(2) {
          margin-right: 1.5rem;
        }
      }
    }

    // span:last-child {
    //   // align-self: flex-end;

    //   @include mw($tb) {
    //     // align-self: flex-end;
    //   }
    // }

    @include mw($tb) {
      // font-size: 2.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 1;
      gap: 0;
      margin-bottom: 4rem;

      span:first-child {
        // align-self: center;
      }
    }

    @include mw($ph) {
      padding-right: 0.7rem;
    }
  }

  &__content {
  }
}

.tabs {
  padding-left: 1rem;

  @include mw($tb) {
    padding-left: 0;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }
}
.tabs-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
  column-gap: 2rem;
  row-gap: 1rem;

  @include mw($tb) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0;
    margin-bottom: 1.3rem;
    column-gap: 1rem;
    justify-content: space-around;
    column-gap: 0;
    row-gap: 2rem;
  }

  &__item {
    @include mw($tb) {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }

  &__link {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 1.25rem;
    border: 0.06rem solid transparent;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;

    @include mw($tb) {
      font-size: 1rem;
      padding: 0.5rem;
      line-height: 1;
    }

    &.selected {
      border-color: #000;
    }
  }
}
.tabs-block {
  display: flex;
  width: 100%;
  opacity: 1;
  z-index: 1;

  @include mw($tb) {
    flex-direction: column;
    padding-left: 2.6rem;
  }

  &.hidden {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__info {
    width: 28.7%;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include mw($tb) {
      width: 100%;
      padding-right: 1rem;
      margin-left: -1rem;
    }
  }

  &__text {
    /* TKO 1 */
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin-bottom: 2rem;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.8rem;
      margin-bottom: 2rem;
    }

    @include mw($ph) {
      font-size: 1.15rem;
    }
  }

  &__control {
    margin-top: auto;
    display: flex;
    column-gap: 1rem;
    margin-bottom: 3rem;

    @include mw($tb) {
      padding: 0 1rem;
      justify-content: space-between;
    }

    &--dt {
      @include mw($tb) {
        display: none;
      }
    }

    &--tb {
      display: none;

      @include mw($tb) {
        display: flex;
        position: absolute;
        width: 100%;
        @include centered("y");
        z-index: 1;
      }
    }
  }

  &__btn {
    flex-grow: 1;

    svg {
      stroke: #000;
    }
  }

  &__slider {
    flex-grow: 1;

    @include mw($tb) {
      width: 100%;
    }
  }
}

.tabs-slider {
  &__list {
  }

  &__item {
  }

  &__scrollbar {
    @include mw($tb) {
      margin-top: 1rem;

      .swiper-scrollbar-drag {
        height: 0.19rem;
        background-color: #88d68b;
        border-radius: 0.19rem;
      }
    }
  }

  &__cover {
    display: none;

    @include mw($tb) {
      display: flex;
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      &::after {
        content: "";
        position: absolute;
        height: calc(100% - 1rem - 0.19rem);
        right: 0;
        top: 0;
        width: calc(14% - 5px);
        background-color: rgba(#fff, 0.68);
        z-index: 1;
      }
    }
  }
}

.dubrovka-slide {
  display: flex;
  flex-direction: column;
  width: 35.4%;
  position: relative;
  height: 46.6rem;

  @include mw($tb) {
    height: 32rem;
    width: 86%;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 68.889%,
        rgba(0, 0, 0, 0.75) 96.889%
      );
      position: absolute;
    }
  }

  &.swiper-slide-active {
    // width: 43.4%;

    @include mw($tb) {
      // width: 100%;
    }

    .dubrovka-slide__figure {
      // height: 100%;
    }

    .dubrovka-slide__text {
      // visibility: visible;
      // opacity: 1;

      @include mw($tb) {
        opacity: 1;
      }
    }
  }

  &__figure {
    width: 100%;
    height: 64%;
    position: absolute;
    left: 0;
    top: 0;

    @include mw($tb) {
      height: 100%;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    position: absolute;
    left: 100%;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 1.13rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: 2.6rem;
    box-sizing: border-box;
    width: 70%;
    opacity: 0;
    visibility: hidden;
    // transition: 1s;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.13;
      left: 0;
      width: 100%;
      color: #fff;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: left;
      opacity: 1;
      visibility: visible;
      z-index: 1;
      opacity: 0;
    }
  }
}

.tab-btn {
  &--mobile {
    display: none;

    @include mw($dt) {
      display: block;
    }
  }

  &--change {
    @include mw($dt) {
      display: none;
    }
  }
}
