.footer {
  padding-bottom: 1rem;
  color: rgb(0, 0, 0);
  position: relative;

  &__inner {
    padding-top: 8.25rem;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include mw($dt) {
      padding-top: 5rem;
    }
  }

  &__up {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5rem;
    justify-content: space-between;

    @include mw($ldt) {
    }

    @include mw($dt) {
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 2.5rem;
    }
  }

  &__middle {
  }

  &__down {
  }
}
.container {
  &--footer {
    width: 94.5%;

    @include mw($tb) {
      width: 100%;
    }
  }
}
.footer-up {
  &__department {
  }

  &__soc {
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    transform: translateX(-17%);

    @include mw($ldt) {
      margin-left: 0;
      min-width: auto;
    }

    &--dt {
      display: none;
    }
  }

  &__connection {
    display: flex;
    flex-direction: column;

    @include mw($ldt) {
    }

    @include mw($dt) {
      margin-left: 0;
      width: 100%;
      margin-bottom: 2.5rem;
    }
  }
}
.department {
  @include mw($dt) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin-bottom: 2.3rem;
    display: block;

    @include mw($dt) {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 0.5rem;
    }
  }

  &__addr {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    margin-bottom: 5.5rem;
    display: flex;
    flex-direction: column;

    @include mw($dt) {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 2rem;
    }
  }

  &__route {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-transform: lowercase;
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    border: 0.06rem solid #000;
    letter-spacing: 0.15rem;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    color: #000;

    @include hocus() {
      // background-color: #fff;
    }

    @include mw($dt) {
      font-size: 1.08rem;
      line-height: 1;
      letter-spacing: 0.12rem;
      align-self: flex-start;
      margin: 0 2rem;
    }
  }
}
.soc {
  &__logo {
    display: block;
    margin-bottom: 8rem;
    align-self: flex-end;

    @include mw($ldt) {
      margin-bottom: 6rem;
    }

    &--dt {
      @include mw($dt) {
        display: none;
      }
    }

    &--ph {
      display: none;

      @include mw($dt) {
        display: block;
        order: 4;
        align-self: auto;
        // width: 10.42rem;
        // height: 2.95rem;
        margin-bottom: 3.3rem;
      }
    }

    svg {
      fill: #78899f;
      width: 28.32rem;
      height: 7rem;
      // aspect-ratio: 3.6 / 1;
      // width: 21.3rem;

      @include mw($dt) {
        width: 14.16rem;
        height: 3.5rem;
        aspect-ratio: auto;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8rem;

    // width: 89%;
    // margin: 0 auto;

    @include mw($ldt) {
      margin: 0;
      width: auto;
    }

    @include mw($tb) {
      column-gap: 5rem;
      // justify-content: space-around;
    }

    &-top {
      @include mw($dt) {
        display: none;
      }
    }

    &-bot {
      display: none;

      @include mw($dt) {
        display: flex;
        margin-bottom: 1rem;
      }

      @include mw($tb) {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__list-top {
  }

  &__item {
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    svg {
      fill: transparent;
      stroke: #000;
    }

    @include mw($tb) {
      transform: scale(1.3);
    }
  }

  &__link--vk {
    width: 3.44rem;
    height: 2.38rem;

    @include mw($tb) {
      width: 1.49rem;
      height: 1.01rem;
    }
  }

  &__link--tg {
    width: 3.25rem;
    height: 2.88rem;

    @include mw($tb) {
      width: 1.39rem;
      height: 1.25rem;
    }
  }

  &__link--wa {
    width: 2.56rem;
    height: 2.5rem;

    @include mw($tb) {
      width: 1.11rem;
      height: 1.11rem;
    }
  }
}
.connection {
  position: relative;
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: 0.06rem solid rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
    z-index: 9;
    background-color: #ececec;
    margin-bottom: 3.8rem;
    margin-left: 48%;
    display: none;

    @include hocus() {
      background-color: #fff;
    }

    @include mw($tb) {
      width: 4rem;
      height: 4rem;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      margin: 0;
      display: flex;
    }

    svg {
      width: 1.31rem;
      height: 3.56rem;

      @include mw($dt) {
        width: 0.82rem;
        height: 2.23rem;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mw($dt) {
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin-bottom: 2.3rem;

    @include mw($dt) {
      font-size: 1.3rem;
      line-height: 1.6;
      margin-bottom: 0.7rem;
    }
  }

  &__tel {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;

    @include mw($dt) {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }

  &__mail {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;

    @include mw($dt) {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
}
.footer-middle {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

  @include mw($dt) {
    display: block;
    margin-bottom: 5rem;
  }

  @include mw($tb) {
    margin-bottom: 3.5rem;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
    flex-wrap: wrap;

    @include mw($ldt) {
      column-gap: 1.5rem;
    }

    @include mw($dt) {
      column-gap: 0;
      row-gap: 1rem;
    }
  }

  &__item {
    transition: 0.3s;

    @include mw($dt) {
      width: 50%;
    }
  }

  &__link {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;

    @include mw($dt) {
      font-size: 1.2rem;
      line-height: 1.6;
      padding-left: 2rem;
    }

    @include hocus() {
      opacity: 0.5;
    }
  }
}
.footer-info {
  display: flex;
  justify-content: center;

  &__text {
    width: 51%;
    color: rgb(167, 167, 171);
    font-size: 1.13rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: center;

    @include mw($dt) {
      font-size: 0.88rem;
    }

    @include mw($dt) {
      width: 100%;
    }
  }
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 0.06rem solid rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 9;

  background-color: #ececec;

  &--fixed {
    position: fixed;
    right: 9rem;
    bottom: 5rem;
    opacity: 0;
  }

  &--absolute {
    position: absolute;
    right: 9rem;
    top: 10rem;
  }

  &:hover {
    background-color: #fff;
  }

  @include mw($tb) {
    display: none;
  }

  @include hocus() {
    opacity: 0.6;
  }

  svg {
    width: 1.31rem;
    height: 3.56rem;

    @include mw($dt) {
      width: 0.82rem;
      height: 2.23rem;
    }
  }
}
