.header {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
  // transition: 0.8s ease-in-out;

  &--fix {
    // position: sticky;
    position: static;
  }

  &--plan {
    .header__line-middle {
      background-color: #000;
    }

    .header-middle__choose {
      border-color: #000;
    }

    .header {
      &__inner {
        // border-color: #000;
        background-color: #ececec;
      }

      &__line {
        background-color: #000;
      }
    }

    .menu-icon__line {
      background-color: #000;
    }

    .header-middle__logo svg {
      fill: #78899f;
    }

    .header-middle__choose {
      color: #000;
      // border-color: #000;
    }

    .header-middle__tel {
      color: #000;
    }

    .header-middle {
      // border-color: #000;
    }

    .header-right__mail svg {
      stroke: #000;
    }

    .header-right__camera svg {
      stroke: #000;
    }
  }

  &--contact {
    background-color: #78899f;

    .header__inner {
      background-color: transparent;
    }
  }

  &--down {
    transform: translateY(-100%);
    // background-color: rgba(#78899f, 0.8);
    // background-color: rgba(#fff, 0.9);

    .header {
      &__inner {
        background-color: rgba(#fff, 0.9);
      }
    }
  }

  &--up {
    // background-color: rgba(#78899f, 0.8);
    // background-color: rgba(#fff, 0.9);

    .menu-icon__line {
      background-color: #000;
    }

    .header__line-middle {
      background-color: #000;
    }

    .header {
      &__inner {
        // border-color: #000;
        background-color: rgba(#fff, 0.9);
      }

      &__line {
        background-color: #000;
      }

      &-middle {
        // border-color: #000;

        &__logo {
          svg {
            fill: #78899f;
          }
        }

        &__choose,
        &__tel {
          color: #000;
          border-color: #000;
        }
      }

      &-right {
        &__mail {
          svg {
            stroke: #000;
          }
        }
      }

      &-right {
        &__camera {
          svg {
            stroke: #000;
          }
        }
      }
    }

    .menu-icon:hover {
      .menu-icon__line--up {
        background-color: #000;
      }
      .menu-icon__line--down {
        background-color: #000;
      }
    }
  }

  &--menu-active {
    .header__line-middle {
      background-color: #000;
    }
    .header {
      &__inner {
        border-color: #000;

        @include mw($tb) {
          background-color: #fff;
        }
        //
      } // visibility: hidden;
      // opacity: 0;

      &__line {
        background-color: #000;
      }

      &-middle {
        border-color: #000;

        &__logo {
          svg {
            fill: #78899f;
          }
        }

        &__choose {
          display: none;
          // visibility: hidden;
          // opacity: 0;
        }
        &__tel {
          margin-left: auto;
          color: #000;
        }
      }

      &-right {
        &__mail {
          svg {
            stroke: #000;
          }
        }
      }

      &-right {
        &__camera {
          svg {
            stroke: #000;
          }
        }
      }
    }
  }

  &--down {
    transform: translateY(-100%);
  }

  &__inner {
    display: flex;
    min-height: 6.8rem;
    // border-bottom: 1px solid #fff;
    flex-wrap: wrap;
    transition: 0.3s;
    position: relative;

    @include mw($tb) {
      min-height: 4.5rem;
    }

    &--plan {
      background-color: #ececec;

      .header__line-middle {
        background-color: #000;
      }

      .header-middle__choose {
        border-color: #000;
      }

      .header {
        &__inner {
          // border-color: #000;
          background-color: #ececec;
        }

        &__line {
          background-color: #000;
        }
      }

      .menu-icon__line {
        background-color: #000;
      }

      .header-middle__logo svg {
        fill: #78899f;
      }

      .header-middle__choose {
        color: #000;
        // border-color: #000;
      }

      .header-middle__tel {
        color: #000;
      }

      .header-middle {
        // border-color: #000;
      }

      .header-right__mail svg {
        stroke: #000;
      }

      .header-right__camera svg {
        stroke: #000;
      }
    }
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    border: 0;
    margin: 0;
  }

  &__left {
    width: 17.6%;
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    @include mw($tb) {
      order: 1;
    }

    @include mw($ph) {
      margin-right: 0;
    }
  }

  &__middle {
    flex-grow: 1;
    // border-left: 1px solid #fff;
    // border-right: 1px solid #fff;
  }

  &__right {
    width: 17.6%;
    flex-shrink: 0;

    @include mw($tb) {
      display: none;
    }
  }
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header-middle {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap;
  position: relative;

  @include mw($tb) {
    border: 0;
  }

  @include mw($ph) {
    padding: 0 1rem;
  }

  &__logo {
    display: block;

    svg {
      width: 11rem;
      height: 2.7rem;
      fill: #fff;
      transition: 0.3s;

      @include mw($tb) {
        width: 6.45rem;
        height: 2.26rem;
      }
    }
  }

  &__choose {
    color: rgb(255, 255, 255);
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.38rem;
    letter-spacing: 10%;
    align-items: center;
    padding: 0.63rem 1.25rem 0.63rem 1.25rem;
    border: 1px solid rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    transition: 0.3s;

    @include hocus() {
      background-color: #fff;
      color: #000;
    }

    @include mw($dt) {
      display: none;
    }
  }

  &__spec {
    color: #000;
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.38rem;
    letter-spacing: 10%;
    align-items: center;
    padding: 0.63rem 1.25rem 0.63rem 1.25rem;
    border: 1px solid #000;
    display: block;
    margin-left: auto;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;

    @include hocus() {
      background-color: #fff;
      color: #000;
    }

    @include mw($dt) {
      display: none;
    }
  }

  &__tel {
    color: rgb(255, 255, 255);
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.38rem;
    display: block;
    margin-left: 4.75rem;
    transition: 0.3s;

    @include mw($dt) {
      margin-left: auto;
      font-size: 0.88rem;
    }
  }
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.75rem;
  flex-wrap: wrap;

  &__mail {
    display: block;

    svg {
      width: 2.06rem;
      height: 1.25rem;
      stroke: #fff;
      fill: transparent;
    }
  }

  &__camera {
    display: block;
    position: relative;

    svg {
      width: 2.26rem;
      height: 1.56rem;
      stroke: #fff;
      fill: transparent;
    }
  }
}

.menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  z-index: -1;
  visibility: hidden;
  opacity: 0;

  &__inner {
    display: flex;
    flex-grow: 1;
  }

  &__content {
    background-color: #fff;
    flex-shrink: 0;
    padding-left: 2%;
    padding-top: 11.5rem;
    padding-right: 3%;
    flex-grow: 1;

    @include mw($tb) {
      // padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 7rem;
      padding-left: 3rem;
    }
  }

  &__figure {
    position: relative;
    width: 38.5%;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0) 43.973%
      );
      background-size: cover;
    }

    @include mw($dt) {
      width: 0;
      overflow: hidden;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
  }
}
.menu-contetnt {
  &__nav {
  }

  &__point {
  }

  &__wrap {
    display: flex;
    column-gap: 1.4rem;
    justify-content: flex-end;

    @include mw($dt) {
      justify-content: flex-start;
    }

    @include mw($tb) {
      flex-direction: column;
    }
  }
}
.menu-nav {
  @include mw($tb) {
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;

    @include mw($tb) {
      row-gap: 0.95rem;
    }
  }

  &__item {
    &--acc {
      display: none;

      @include mw($tb) {
        display: block;
      }
    }
  }

  &__link {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 400;
    line-height: 4.25rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid transparent;
    transform: 0.5s;

    @include mw($dt) {
      font-size: 1.25rem;
      line-height: 2.2;
    }

    @include hocus() {
      border-color: #a7a7ab;
    }
  }
}
.js-anchor {
}
.contetnt-point {
  align-self: flex-end;

  @include mw($tb) {
    align-self: flex-start;
    width: 100%;
    padding-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.68rem;
    margin-bottom: 4rem;
    margin-left: 3.5rem;

    @include mw($tb) {
      row-gap: 0.8rem;
    }

    &--ph {
      display: none;

      @include mw($tb) {
        display: flex;
      }
    }

    &--dt {
      @include mw($tb) {
        display: none;
      }
    }

    @include mw($tb) {
      margin-left: 0;
    }
  }

  &__item {
  }

  &__link {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    border-bottom: 1px solid transparent;
    transform: 0.5s;
    display: block;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.5;
    }

    @include hocus() {
      border-color: #a7a7ab;
    }
  }

  &__choose {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: lowercase;
    border: 1px solid rgb(0, 0, 0);
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    display: block;

    @include mw($tb) {
      padding: 0.95rem 1rem;
      text-align: center;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      max-width: 16rem;
      line-height: 1;
    }
  }
}

.menu-icon {
  // transform: scale(1.5);
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  --delta: 10px;

  @media screen and (max-width: 1920px) {
    width: 54px;
    height: 54px;
    --delta: 7px;
  }

  @include mw($tb) {
    width: 30px;
    height: 30px;
    --delta: 3px;
  }

  &:hover {
    .menu-icon__line--up {
      width: 110%;
      background-color: #fff;

      @include mw($tb) {
        width: 100%;
      }
    }
    .menu-icon__line--down {
      width: 60%;
      background-color: #fff;

      @include mw($tb) {
        width: 100%;
      }
    }
  }

  &--active,
  &--active:hover {
    .menu-icon__line {
      width: 100%;
      background-color: #000;
    }
  }

  &--active {
    .menu-icon__line {
      position: absolute;
    }

    .menu-icon__line--up {
      transform: rotate(45deg);
      top: var(--delta);

      @include mw($tb) {
        top: var(--delta);
      }
    }
    .menu-icon__line--down {
      transform: rotate(-45deg);
      bottom: var(--delta);

      @include mw($tb) {
        bottom: var(--delta);
      }
    }
  }

  &__inner {
    width: 100%;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 1920px) {
      height: 15px;
    }

    @include mw($tb) {
      height: 7px;
    }
  }

  &__line {
    // position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0;
    transition: all 0.3s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    display: block;

    &--up {
      top: 0;
    }
    &--down {
      bottom: 0;
    }
  }
}

.camera {
  &__pulse {
    width: 0.23rem;
    height: 0.23rem;
    border-radius: 50%;
    background-color: #f42a36;
    position: absolute;
    top: 25%;
    left: 58%;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#f42a36, 1);
    animation: pulse-red 1s infinite;
  }
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(#f42a36, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(#f42a36, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(#f42a36, 0);
  }
}

.header-left--choose {
  background-color: rgba(#88d68be6, 0.9);
}

.header-right--choose {
  background-color: rgba(#88d68be6, 0.9);
  display: flex;
  flex-direction: column;
}

.header-middle--choose {
  border: 0;
}

.header-choose {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
  // padding-left: 2.8rem;

  svg {
    fill: transparent;
    stroke: #fff;
    aspect-ratio: 1;
    width: 24%;
    max-width: 5rem;
  }

  &__text {
    // margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 0.94rem;
    font-weight: 600;
    line-height: 1.56rem;
    text-transform: uppercase;
  }
}

.accordion {
  &__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    column-gap: 0.88rem;

    @include hocus() {
      border-color: transparent;
    }

    svg {
      fill: transparent;
      stroke: #a7a7ab;
      width: 1.19rem;
      height: 0.5rem;
      transition: 0.3s;
    }
  }

  &__panel {
    overflow: hidden;

    @include mw($tb) {
      margin-bottom: 0;
      padding-left: 1.5rem;
      padding-top: 0.7rem;
    }
  }
}

.js-enabled {
  .accordion {
    &__panel {
      visibility: hidden;
    }
  }
}

.is-active {
  .accordion {
    &__panel {
      visibility: visible;
    }

    &__btn {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.header__line-middle {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  top: 0;

  border: 0;
  margin: 0;

  @include mw($tb) {
    display: none;
  }

  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}
