.location {
  background-color: #78899f;
  position: relative;
  z-index: 1;
  padding-top: 20.8rem;
  overflow: hidden;

  @include mw($tb) {
    // padding-top: 0;
    margin-top: -8rem;
  }

  @include mw($ph) {
    padding-top: 7.8rem;
  }

  &__wrap {
    width: 100%;
  }

  &__figure {
    width: 100%;
    padding-top: 75.6%;
    position: relative;

    @include mw($tb) {
      padding-top: 157%;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center bottom;
  }
}

.location-logo {
  position: absolute;
  width: 12.3%;
  top: 37.5%;
  left: 17%;
  display: flex;
  flex-direction: column;

  @include mw($tb) {
    top: 39.5%;
    left: 9%;
  }

  @include mw($ph) {
    width: 25.3%;
    top: 36%;
    left: 11%;
  }

  &__link {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    transform: translateX(0.4rem);
    opacity: 0;

    svg {
      width: 100%;
      fill: #fff;
      aspect-ratio: 4 / 1;
    }
  }

  &__figure {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../img/magnifier.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0);
    border-radius: 50%;
    outline: 0.6rem solid #8ed688;

    @include mw($tb) {
      outline-width: 0.4rem;
    }
  }
}

.location-flag {
  position: absolute;
  display: flex;
  column-gap: 0.65rem;
  flex-direction: row-reverse;

  @include mw($ph) {
    column-gap: 0.3rem;
  }

  &__title {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
    margin-top: -0.03vw;

    &--color {
      color: #8ed688;

      @include mw($tb) {
        color: #fff;
      }
    }
    // opacity: 0;

    @include mw($ldt) {
      font-size: 1.3rem;
    }

    @include mw($tb) {
      font-size: 0.88rem;
      line-height: 1;
    }

    // @include mw($ph) {
    //   font-size: 0.88rem;
    //   line-height: 1;
    //   margin-top: 0;
    // }
  }

  &--1 {
    bottom: 55.5%;
    right: 68.6%;
    flex-direction: row;
    height: 21%;

    @include mw($ldt) {
      bottom: 52%;
    }

    @include mw($tb) {
      bottom: 50%;
      right: 63%;
      flex-direction: row;
      height: 19%;
    }

    @include mw($ph) {
      bottom: 57%;
      right: 60%;
      height: 21%;
      width: 5rem;
      text-align: right;
    }
  }

  &--2 {
    bottom: 53.6%;
    left: 34.6%;
    height: 16%;

    @include mw($ldt) {
      bottom: 50%;
    }

    @include mw($dt) {
      left: 32.6%;
    }

    @include mw($tb) {
      bottom: 48%;
      left: 42%;
      height: 26%;
    }

    @include mw($ph) {
      bottom: 54.6%;
      left: 46%;
      height: 29%;
    }
  }

  &--3 {
    width: 11rem;
    bottom: 60.5%;
    left: 45.5%;
    height: 16%;

    @include mw($ldt) {
      bottom: 56.5%;
    }

    @include mw($tb) {
      bottom: 54.5%;
      left: 68.5%;
      height: 15%;
    }

    @include mw($ph) {
      bottom: 61.5%;
      left: 69.5%;
      width: 5rem;
      height: 17%;
    }
  }

  &--4 {
    width: 15rem;
    bottom: 61%;
    left: 62.7%;
    height: 20%;

    @include mw($ldt) {
      bottom: 57.3%;
      left: 61.7%;
    }

    @include mw($tb) {
      display: none;
    }
  }

  &--5 {
    bottom: 55.7%;
    left: 71%;
    height: 19%;

    @include mw($ldt) {
      bottom: 54.7%;
    }

    @include mw($ldt) {
      height: 18%;
    }

    @include mw($tb) {
      display: none;
    }
  }

  &--6 {
    bottom: 53%;
    left: 3%;
    height: 28%;

    @include mw($ldt) {
      bottom: 51.5%;
      height: 26%;
    }
    @include mw($tb) {
      display: none;
    }
  }

  &--7 {
    bottom: 61.3%;
    right: 84.5%;
    flex-direction: row;
    height: 15%;
    text-align: right;

    @include mw($ldt) {
      bottom: 55.3%;
      width: 9rem;
    }
    @include mw($tb) {
      bottom: 55.3%;
      flex-direction: row-reverse;
      right: auto;
      left: 5%;
      height: 19%;
      width: 6rem;
      text-align: left;
    }

    @include mw($ph) {
      bottom: 64.3%;
      height: 20.5%;
      left: 8%;
    }
  }

  &--8 {
    bottom: 60%;
    right: 40%;
    flex-direction: row;
    height: 21%;

    @include mw($ldt) {
      bottom: 56.3%;
    }
    @include mw($tb) {
      display: none;
    }
  }

  &--9 {
    bottom: 49.5%;
    left: 78.2%;
    height: 20%;
    width: 11rem;

    @include mw($ldt) {
      bottom: 46.3%;
    }
    @include mw($tb) {
      display: none;
    }
  }

  &--10 {
    bottom: 57%;
    right: 4.2%;
    flex-direction: row;
    height: 18%;

    @include mw($ldt) {
      bottom: 54%;
    }
    @include mw($tb) {
      display: none;
    }
  }

  &--11 {
    bottom: 55.3%;
    right: 1.8%;
    flex-direction: row;
    height: 26%;
    width: 10rem;
    text-align: right;

    @include mw($ldt) {
      bottom: 51.3%;
    }
    @include mw($tb) {
      display: none;
    }
  }

  &__vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__line {
    width: 0.06rem;
    background-color: #fff;
    height: 100%;
  }

  &__circle {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: #fff;
    flex-shrink: 0;

    @include mw($tb) {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
