.near {
  margin-bottom: -8rem;
  position: relative;
  z-index: 3;

  @include mw($tb) {
    padding-bottom: 5rem;
  }
  &__title {
    // margin-bottom: 16.7rem;
    margin-bottom: 12rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    span:last-child {
    }

    @include mw($tb) {
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 1;
      margin-bottom: 2rem;
    }
  }

  &__inner {
    background-color: #78899f;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1920px) {
      padding-bottom: 5rem;
    }

    @include mw($ldt) {
      padding-right: 1rem;
    }

    @include mw($tb) {
      padding-bottom: 3rem;
      flex-direction: column;
      padding-right: 0;
      padding-top: 0;
    }
  }

  &__map {
    width: 46%;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: url(../img/svg/Linear.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
    }

    @include mw($tb) {
      width: 100%;
      height: 31rem;
    }
  }

  &__content {
    // padding-left: 5rem;
  }
}

.near-title {
  .whitespace {
    width: 1rem;
  }
  .word {
    display: flex;
    justify-content: space-between;

    .char:nth-child(4) {
      margin-left: 2.5rem;

      @include mw($dt) {
        margin-left: 1.5rem;
      }
    }
  }

  &__right {
    margin-left: 1.5rem;
  }
}

.near-content {
  color: rgb(255, 255, 255);
  flex-grow: 1;
  padding-top: 4.2rem;
  padding-left: 1rem;
  position: relative;
  background-color: #78899f;
  margin-left: -1px;

  @include mw($tb) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.5rem;
    pozition: relative;
    z-index: 2;
    margin-left: 0;
    margin-top: -1px;
  }

  &__subtitle {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.25rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 4.6rem;
    padding-left: 5rem;

    @include mw($dt) {
      padding-left: 0;
      text-align: center;
      margin-bottom: 2.3rem;
    }

    @include mw($tb) {
      font-size: 1.5rem;
      line-height: 2.13rem;
    }
  }

  &__mark {
    display: flex;
    column-gap: 2.3rem;
    margin-bottom: 4.4rem;
    max-width: 65%;

    @include mw($tb) {
      max-width: none;
      width: 87%;
      margin-left: auto;
      margin-right: auto;
      column-gap: 2.5rem;
      align-items: center;
      margin-bottom: 1.5rem;
    }

    i {
      width: 3.13rem;
      height: 3.13rem;
      background-image: url("../img/mark.png");
      background-repeat: no-repeat;
      background-size: cover;
      flex-shrink: 0;
      margin-top: 0.5rem;

      @include mw($tb) {
        width: 1.88rem;
        height: 1.88rem;
        margin-top: 0;
      }
    }
  }

  &__addr {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.7;
      letter-spacing: 0.01rem;
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-left: 2.8rem;

    width: 80%;

    @include mw($ldt) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__item {
    padding-top: 1rem;

    @include mw($tb) {
      // padding-top: 0;
    }
  }
}
.near-item {
  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 2rem;

    @include mw($tb) {
      padding-left: 1rem;
    }
  }

  &__time {
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 3.75rem;
    letter-spacing: 0.4rem;
    text-align: center;
    width: 12%;
    margin-right: 2.6rem;

    @include mw($tb) {
      font-size: 2.25rem;
      margin-right: 1rem;
      width: 16%;
    }

    @include mw($ph) {
      font-size: 2.55rem;
    }
  }

  &__min {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-transform: lowercase;

    @include mw($tb) {
      font-size: 1.15rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    margin-left: 2rem;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 0.75rem;
      margin-left: 1rem;
      row-gap: 0;

      span {
        line-height: 1.1;
      }
    }
  }
}
.near-indication {
  display: flex;
  align-items: center;

  &--1 {
    width: 52%;
  }

  &--2 {
    width: 52%;
  }

  &--3 {
    width: 70%;
  }

  &--4 {
    width: 78%;
  }

  &__line {
    // width: 100%;
    width: 0;
    height: 0.06rem;
    background-color: #fff;
  }

  &__color {
    height: 0.5rem;
    width: 3.75rem;
    background-color: #88d68b;
    border-radius: 0.5rem;

    @include mw($tb) {
      width: 1.87rem;
      height: 0.25rem;
    }
  }
}

.near-map {
  position: relative;

  &__inner {
    // position: relative;
    // width: 100%;
    // height: 0;
    // padding-top: 107%;
  }

  &__mark {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    width: 5rem;
    height: 5rem;
    border: 0.06rem solid rgb(255, 255, 255);
    background: #88d68b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    right: 28%;
    top: 67%;

    @include mw($ldt) {
      // right: 28%;
      top: 47%;
    }

    @include mw($dt) {
      top: 38%;
    }

    @include mw($tb) {
      top: 67%;
    }

    @include mw($ph) {
      width: 2.56rem;
      height: 2.56rem;
      font-size: 0.75rem;
    }
  }

  &__figure {
    width: 100%;
    height: 0;
    padding-top: 113%;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #78899f;
    background-blend-mode: luminosity;
  }

  &__map {
  }
}

.near-map {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #78899f;

  @include mw($dt) {
    aspect-ratio: 1;
  }

  &__map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #78899f;

    // .ymaps-2-1-79-events-pane:after {
    //   content: "";
    //   background-image: linear-gradient(
    //     270deg,
    //     #78899f 13.59%,
    //     rgba(255, 255, 255, 0) 114.76%
    //   );
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   pointer-events: none;
    // }
  }
}

[class*="ground-pane"] {
  filter: grayscale(100%);
}

.ymaps-2-1-79-copyright__content {
  background-color: transparent !important;
}

.ymaps-2-1-79-gotoymaps,
.ymaps-2-1-79-gototaxi,
.ymaps-2-1-79-gototech {
  display: none !important;
}

.ymaps-2-1-79-events-pane:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url(../img/svg/Linear.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;

  @include mw($tb) {
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(120, 137, 159, 0) 0%,
    //   rgba(120, 137, 159, 1) 99%,
    //   rgba(120, 137, 159, 1) 100%
    // );
  }
}

.zoom-control {
  // position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;

  @include mw($ph) {
    row-gap: 8rem;
  }

  &__btn {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #88d68b;
    cursor: pointer;
    position: relative;

    @include mw($tb) {
      width: 2.7rem;
      height: 2.7rem;
    }

    &::after,
    &::before {
      content: "";
      width: 30%;
      height: 0.06rem;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::after {
      transform: translate(-50%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &--out {
      &::before {
        content: none;
      }
    }
  }
}

.near-title {
  &--phone {
    display: none;

    @include mw($tb) {
      display: block;
      text-align: center;
    }
  }

  &--desk {
    @include mw($tb) {
      display: none;
    }
  }
}

.item-last {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.3rem;
  flex-wrap: wrap;

  @include mw($tb) {
    row-gap: 0;
  }

  &__text {
    align-self: flex-end;
    font-size: 1.3rem;

    @include mw($tb) {
      font-size: 0.7rem;
    }
  }
}

.near {
  .ymaps3x0--map-copyrights {
    z-index: 1;

    &__container {
      background-color: transparent;
    }
  }

  &__marker {
    width: 5.37rem;
    height: 5.37rem;
    border-radius: 50%;
    background-image: url(../img/map-mark.png);
    background-size: cover;
    transform: translate(-50%, -50%);

    @include mw($tb) {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  .ymaps3x0--button {
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
  }

  .ymaps3x0--control__background {
    background-color: transparent;
    box-shadow: none;
  }

  .ymaps3x0--controls_vertical > .ymaps3x0--control {
    margin-bottom: 5rem;

    @include mw($tb) {
      margin-bottom: 8rem;
    }
  }

  .ymaps3x0--controls {
    left: 2rem;

    @include mw($tb) {
      left: 0;
    }
  }
}
