.promo {
  margin-bottom: 9rem;
  &__inner {
  }

  &__swiper {
  }
}

.promo-swiper {
  width: 100%;

  &__pagination {
    position: absolute;
    width: 100%;
    bottom: 4rem !important;
    left: 0;
    z-index: 1;
    justify-content: center;
  }
}

.promo-slide {
  min-height: 60.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 8rem;
  box-sizing: border-box;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @include mw($dt) {
    padding-top: 7.3rem;
  }

  @include mw($tb) {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: flex-start;
    min-height: auto;
    padding-bottom: 8.5rem;
  }

  &__figure {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__inner {
    position: relative;
    z-index: 1;
    width: 74rem;
    max-width: 100%;
    transform: translateX(3rem);

    @include mw($ldt) {
      transform: none;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    line-height: 1;

    span:last-child {
      align-self: flex-end;
    }

    @include mw($tb) {
      margin-bottom: 2rem;
    }
  }

  &__block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 3.6rem;

    @include mw($dt) {
      align-items: center;
      flex-direction: column-reverse;
      row-gap: 3.6rem;
      column-gap: 0;
    }
  }

  &__link {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0.15rem;
    text-transform: lowercase;
    background: rgb(136, 214, 139);
    text-align: center;
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    flex-shrink: 0;
    display: block;
    min-width: 33%;
    transition: 0.3s;

    @include hocus() {
      background-color: #fff;
    }

    @include mw($tb) {
      font-size: 0.94rem;
      line-height: 1;
    }
  }

  &__text {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding-right: 2rem;
    // width: 53%;

    @include mw($dt) {
      width: 100%;
      padding-right: 0;
    }

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
.slide-label {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(#88d68be6, 0.9);
  width: 16rem;
  height: 16rem;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  right: 2%;
  top: -62%;
  text-align: center;

  @include mw($dt) {
    position: static;
    margin-bottom: 2rem;
    margin-left: auto;
  }

  @include mw($tb) {
    width: 11rem;
    height: 11rem;
    font-size: 1rem;
  }

  &__head {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;

    @include mw($tb) {
      column-gap: 0.3rem;
    }
  }

  &__price {
    font-size: 2.5rem;

    @include mw($tb) {
      font-size: 1.5rem;
    }
  }
}

.pagination-bar {
  display: flex;
  opacity: 0;

  &__bullet {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;

    @include mw($tb) {
      width: 0.63rem;
      height: 0.63rem;
    }

    & + span {
      margin-left: 1.25rem;

      @include mw($tb) {
        margin-left: 0.63rem;
      }
    }

    &--active {
      position: relative;
      // margin-right: 4.6rem;

      &::after {
        content: "";
        position: absolute;
        border-radius: 0.5rem;
        width: 5.6rem;
        height: 100%;
        @include centered("y");
        left: 0;
        border: 0.06rem solid rgb(255, 255, 255);
        background-color: transparent;
        border-radius: 0.5rem;

        @include mw($tb) {
          width: 2.5rem;
        }
      }
    }
  }
}

.promo-title {
  &__text {
    color: transparent;
    background-image: linear-gradient(0deg, #fff 0, #fff 50%, transparent 0);
    background-clip: text;
    background-size: 100% 200%;
    background-position-x: 0%;
    background-position-y: 100%;
  }
}
