.yard {
  padding-top: 15rem;

  @include mw($tb) {
    padding-top: 5rem;
  }

  &__cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }

  &__inner {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 68%;
    margin: 0 auto;
    display: flex;
    column-gap: 2rem;

    @media screen and (max-width: 1920px) {
      width: 81rem;
      max-width: 100%;
    }

    @include mw($tb) {
      flex-direction: column-reverse;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__info {
    flex-grow: 1;
    padding-top: 0.7rem;

    @include mw($tb) {
      width: 100%;
      padding-top: 0;
    }
  }

  &__title {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.25rem;
    letter-spacing: 0.3rem;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 3.5rem;

    @include mw($dt) {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }

    @include mw($tb) {
      font-size: 1.5rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    letter-spacing: 0%;
    text-align: left;

    @include mw($tb) {
      font-size: 1rem;
      line-height: 1.63;
    }
  }

  &__slider {
    width: 54%;
    flex-shrink: 0;

    @include mw($tb) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__slide {
  }

  &__figure {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 124%;

    @include mw($tb) {
      padding-top: 132%;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
  }

  &__pagination {
    position: absolute;
    @include centered("x");
    bottom: 2.5rem;
    z-index: 1;
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.pagination-bar {
}
