.control {
  aspect-ratio: 1;
  max-width: 12.5rem;
  max-height: 12.5rem;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;

  @include mw($tb) {
    max-width: 3.13rem;
    max-height: 3.13rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: inherit;
    background-color: #88d68be6;
    transform: scale(0);
    transition:
      transform 0.3s,
      opacity 0.3s;
    opacity: 0;

    @include mw($tb) {
      transform: scale(1);
      opacity: 1;
    }
  }

  &--prev {
    svg {
      transform: rotate(-90deg) translateY(-50%);
      @include mw($dt) {
        transform: rotate(-90deg);
      }
    }
  }
  &--next {
    svg {
      transform: rotate(90deg) translateY(-50%);
      @include mw($dt) {
        transform: rotate(90deg);
      }
    }
  }

  svg {
    width: 1.31rem;
    height: 3.56rem;
    fill: transparent;
    stroke: #fff;
    // transition: 0.3s;

    @include mw($tb) {
      height: 1.8rem;
      width: 0.74rem;
      stroke: #fff;
    }
  }

  &:hover {
    &::before {
      transform: scale(1);
      opacity: 1;
    }

    svg {
      stroke: #fff;
    }
  }
}
