.container-lt {
  width: 83%;
  padding-left: 1rem;
  margin-left: auto;

  @include mw($ldt) {
    width: 95%;
  }

  @include mw($dt) {
    width: 98%;
  }

  @include mw($tb) {
    width: 100%;
  }
}
