extends ../templates/_main.pug
include ../helpers/mixins.pug

block content
	include ../sections/promo.pug

	include ../sections/dubrovka.pug
	include ../sections/near.pug
	include ../sections/location.pug
	include ../sections/about.pug
	include ../sections/circle.pug

	include ../sections/yard.pug
	include ../sections/aesthetics.pug
	include ../sections/choose.pug
	include ../sections/developer.pug
