include ../helpers/data/about.pug


section.about
	.about__inner.container-lt
		h2.title.title--lg.title--light.about__title(data-splitting) опроекте

		h3.about__subtitle ВСЕ ТО, ЧЕГО ТАК НЕ&nbsp;ХВАТАЕТ В&nbsp;ГОРОДЕ

		p.about__text Тишина, свежий бриз Невы-реки, густая зелень набережного парка, и спокойствие самого изысканного поселка в Ленинградской области.

		ul.about__list
			each item,i in list
				li.about__item(class=`about__item--${i<3?'up':'down'}` class=`about__item--${i+1}`)
					span.about__icon
						+svg(`about_${i+1}`)
					span.about__item-text= item.title



		a.about__link(href="#") узнать подробнее

	div.about__picture.picture#about
		.figure.picture__wrap
			//- +img-retina('house', 'png', 'about', 'picture__img', '895', '993', 768)



			<picture>
				<source media="(max-width: 768px)" type="image/webp" srcset="/img/webp/house-768.webp 1x, /img/webp/house-768@2x.webp 2x" />
				<source media="(max-width: 768px)" type="image/png" srcset="/img/house-768.png 1x, /img/house-768@2x.png 2x" />
				<source type="image/webp" srcset="/img/webp/house.webp 1x, /img/webp/house@2x.webp 2x" />
				<img class="picture__img" src="/img/house.png" alt="about" width="895" height="993" />
			</picture>
