include ../helpers/data/about.pug


section.about
	.about__inner.container
		h2.title.title--lg.title--light.about__title
			span О ПРОЕКТЕ
		h3.about__subtitle ВСЕ ТО, ЧЕГО ТАК НЕ&nbsp;ХВАТАЕТ В ГОРОДЕ

		p.about__text Тишина, свежий бриз Невы-реки, густая зелень набережного парка, и спокойствие самого изысканного поселка в Ленинградской области.

		ul.about__list
			each item,i in list
				li.about__item
					+svg(`about_${i+1}`)
					span= item.title

		a.about__link(href="#") узнать подробнее

	div.about__picture.picture
		.figure.picture__wrap
			+img-retina('about', 'png', 'about', 'picture__img', '895', '993')
