section.choose#choose
	.choose__inner
		h2.title.title--lg.title--gray.choose__title
			span выбрать
			span квартиру

	.choose__content
		figure.choose__bg

		a.choose__left.choose-left.choose__control(href="/")
			//- .choose__figure
			.choose__block.choose-block.choose-block--left


				.choose-block__link
					+svg('choose-lt')
				h3.choose-block__title на схеме
				p.choose-block__text выберете на генплане

			.control.control--prev.choose__circle.choose__circle--prev
				+svg('arr-top')


		a.choose__right.choose-right.choose__control(href="https://plan7.ru/catalog/adm/?page=zk&id=103&path=embed")
			.choose__block.choose-block.choose-block--right
				.choose-block__link
					+svg('choose-rt')
				h3.choose-block__title по параметрам
				p.choose-block__text выберите по цене и площади

			.control.control--next.choose__circle.choose__circle--next
				+svg('arr-top')
