section.circle
	h2.title.title--lg.title--gray.circle__title
		span в кругу
		span единомышленников
		span подальше от суеты

	.circle__wrap

		.circle__slider.swiper.circle__slider
			.swiper-wrapper
				each item in ['','','','','','']
					.swiper-slide.circle__slide
						figure.circle__figure
							+img-retina('circle', 'jpg', 'circle', 'circle__img', '1647', '970')
			//- .circle-slider__scrollbar
			.circle-slider__scrollbar



		.circle__cover.circle-cover
			.circle-cover__block.circle-cover__block--sm.circle-cover__block--sm--left
			.circle-cover__block.circle-cover__block--center.circle-control
				.circle-control__block.circle-control__block--left
					button.control.control--prev.circle-control__btn.circle-control__btn--prev(type='button' class=`circle__btn--prev`)
						+svg('arr-top')

				.circle-control__block.circle-control__block--right
					button.control.control--next.circle-control__btn.circle-control__btn--next(type='button' class=`circle__btn--next`)
						+svg('arr-top')


			.circle-cover__block.circle-cover__block--sm.circle-cover__block--sm--right
	//- .circle-slider__scrollbar
