section.contacts
	.contacts__inner
		.contacts__map.contacts-map
			.contacts-map__picture
			p.contacts-map__mark нб

		.contacts__info.contacts-info
			.contacts-info__block
				h2.contacts-info__title КОНТАКТЫ
				p.contacts-info__text.contacts-text
					span.contacts-text.contacts-text--light Рады Вас видеть в отделе продаж
					span.contacts-text.contacts-text--bold С 9:00 ДО 19:00 ПН - ПТ
				a.contacts-info__link.contacts-info__link--mail(href="mailto:sales@lenoblstroy47.ru") sales@lenoblstroy47.ru
				a.contacts-info__link.contacts-info__link--tel(href="tel:+78124435659") +7 (812) 443-56-59
				button.contacts-info__call(type="button") Перезвоните мне
