section.developer
	.developer__inner.container-lt
		.developer__info.developer-info
			.developer-info__head
				a.developer-info__logo(href="/")
					img(src="/img/lenlogo.png", alt="logo" width="119" height="154")
				h2.developer__title.developer__title--tb ЗАСТРОЙЩИК
			.developer-info__block.info-block
				span.info-block__title ГРУППА КОМПАНИЙ “ЛЕНОБЛСТРОЙ 47”
				p.info-block__text успешно выполняет госзаказы по инфраструктурным объектам, в том числе в поселке Дубровка, благодаря чему облик поселка улучшился за последние пять лет

			.developer-info__list.info-list
				span.info-list__title Ключевые приоритеты ГК “Леноблстрой”
				.info-list__item строгое следовании установленным срокам
				.info-list__item выполнение взятых на себя обязательств
				.info-list__item строительство качественного жилья по разумным ценам

			.developer-info__project.developer-project
				a.developer-project__declaration(href="/") Проектная декларация

				a.developer-project__link(href="/") Разрешения на строительство проекта “Невский берег”
					+svg('doc')
				a.developer-project__link(href="/") Сведение от СЗ “ЛенжилСтрой47”
					+svg('doc')

		.developer__right
			h2.developer__title.developer__title--dt ЗАСТРОЙЩИК

			.developer__wrap
				figure.developer__figure
					+img-retina('developer', 'jpg', 'developer', 'developer__img', '940', '969')
