*,
*::before,
*::after {
  box-sizing: inherit;

  // min-height: 0;
  // min-width: 0;
}

html {
  box-sizing: border-box;
  // font-size: 16px;
  scroll-behavior: smooth;

  font-size: 0.83vw;

  @include mw($ldt) {
    font-size: 0.95vw;
  }

  @include mw($dt) {
    font-size: 1.2vw;
  }

  @include mw($tb) {
    font-size: 2.66vw;
  }

  @include mw($ph) {
    font-size: 3.73vw;
  }
}

body {
  @include font("Montserrat");
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: $text-dark;
  transition: 0.3s;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a5632;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 50%);
    border-radius: 0.2rem;
  }
}

.scroll {
  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #78899f;
    border-radius: 0.5rem;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input,
button,
select,
a,
textarea,
label,
div {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

fieldset {
  padding: 0;
  border: none;
}

input,
a {
  &:focus {
    outline: none;
  }
}

button {
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
}

.container {
  width: 66%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
}

* {
  // outline: 1px solid #ff6347;
}

.scroll-lock {
  overflow: hidden;
  // padding-right: 0.2rem;
}

.page-main {
  flex-grow: 1;
}
