doctype html
html(lang="ru")
  include ../helpers/arrays
  include ../modules/_head
    include ../modules/_style

  body.page-body.scroll
    - const plan = true
    - const param = true

    include ../modules/_header

    main.page-main
      block content

    include ../modules/_footer
    include ../modules/_scripts
