doctype html
html(lang="ru")
  include ../helpers/arrays
  include ../modules/_head
    include ../modules/_style


  body.page-body.page-body--contact.scroll
    //- - const headerHide = true
    -const contact = true
    include ../modules/_header


    main.page-main
      block content

    include ../modules/_scripts
